body {
    background-color: lightslategray;
}

.image-container {
    display: block;
    margin-top: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    align-content: center;
}

.top-nav {
    background-color: teal;
    font-size: 25px;
}


