body {
    background-color: rgb(70, 137, 205);
}

.image-container {
    display: block;
    margin-top: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    align-content: center;
}

.top-nav {
    background-color: teal;
    font-size: 25px;
}

.card-gallery {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 20px 20px;
    
}

.row {
    margin: 0 -5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
}
