{% extends 'base.html' %} {% block content %}

<h1>4x4 card-gallery parks</h1>
<h1>need search bar</h1>

<a class ="button add-offroad-park" href="{% url 'new-offroad-park' %}">Add Offroad Park</a>

<div class = "card-gallery">
    <div class = "row">
        <div class = "column">
            <div class = "card">
                <h3>Name of Park1</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
        <div class = "column">
            <div class = "card">
                <h3>Name of Park2</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
        <div class = "column">
            <div class = "card">
                <h3>Name of Park3</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "column">
            <div class = "card">
                <h3>Name of Park4</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
        <div class = "column">
            <div class = "card">
                <h3>Name of Park5</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
        <div class = "column">
            <div class = "card">
                <h3>Name of Park6</h3>
                <h6>Location</h6>
                <h6>State</h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}
