{% extends 'base.html' %} {% block content %}

<h1>4x4 card-gallery parks</h1>
<h1>need search bar</h1>

<a class ="button add-offroad-park" href="{% url 'new-offroad-park' %}">Add Offroad Park</a>

<div class = "card-gallery">
    {% for offroad_park in offroad_parks %}
    <a href "">
        <div class = "card">
            <figure class = "image is-square">
                <img src = "{{offroad_park.image}}" alt = "{{offroad_park.name}}" />
            </figure>
        </div>
            <div class = "card-header">
                <p class = "card-header-title">{{offroad_park.name}}</p>
                <p class = "card-header-location">{{offroad_park.location}}</p>
                <p class = "card-header-state">{{offroad_park.state}}</p>
                <p class = "card-header-difficulty">{{offroad_park.Difficulty}}</p>
            </div>
    </a>
    {% endfor %}

</div>

{% endblock %}
